<!DOCTYPE html>
<html>
<head>
    <title>Highscores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>

<body>

<div class="col-md-6 ">
<table id="tbl" class="table table-hover table-bordered table-striped">
    <thead class="">
    <tr class="table-active">
    <td>Name</td>
    <td>Time</td>
    <td>Clicks</td>
    </tr>
    </thead>
    <tbody></tbody>
</table>
</div>


<script src="{{url_for('static', filename='highscores.js')}}"></script>
</body>
</html>

<script>


</script>